:root {
  --main-color: #4472c4;
  --second-color: #002060;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 5% 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
main {
  width: 50%;
  max-width: 1025px;
  display: flex;
  border: solid 1px gray;
}
h2 {
  font-size: 1rem;
}
.color {
  color: var(--main-color);
}
.color2 {
  color: var(--second-color);
}
.fs {
  font-size: 1rem;
}
.margin {
  margin: 20px 0;
}
.margin2 {
  margin-left: 10%;
}
i {
  padding-right: 10px;
}
.link {
  text-decoration: none;
  color: #fff;
}
.mail {
  text-decoration: none;
}

/* GAUCHE du CV */

.section-left {
  background-color: var(--main-color);
  color: #fff;
  padding: 3%;
  width: 30%;
}
.section-left__photo {
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
}
img {
  height: 90px;
  border-radius: 50px;
}

/* DROITE du CV */

.section-right {
  width: 70%;
}
#titre0 {
  font-size: 2rem;
}
#titre {
  margin: 0 0 15px 0;
}
.section-right__info {
  background-color: #f2f2f2;
  padding: 8%;
}
.section-right__info__adress {
  display: flex;
  justify-content: space-between;
}
.section-right__detail {
  padding: 8%;
  animation: fadein 3s;
}

/* ANIMATION */

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
  }
}
/* ------------------------------------ */
.dates {
  font-weight: bold;
}
.competence-list {
  list-style-type: none;
  padding: 0;
}
.formations-list {
  list-style-type: circle;
}
/* RESPONSIVE */

@media screen and (max-width: 425px) {
  body {
    margin: 0;
  }
  main {
    display: block;
    width: 100%;
  }
  .section-left {
    width: 100%;
    padding: 8%;
  }
  .section-right {
    width: 100%;
  }
}
@media screen and (min-width: 426px) and (max-width: 1100px) {
  main {
    width: 90%;
  }
}
